@model IEnumerable<WebApplication1.Models.Leave>
@{
    ViewBag.Title = "Leave List";
}

<h2>Leave List</h2>

<a href="@Url.Action("Create")" class="btn btn-success mb-3">
    Create New Leave
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle ms-1" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
    </svg>
</a>

<table class="table table-striped border border-2 border-dark rounded-3">
    <thead class="bg-dark text-white">
        <tr>
            <th>Employee Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Reason</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Employee.FirstName @item.Employee.LastName</td>
                <td>@item.StartDate.ToString("yyyy-MM-dd")</td>
                <td>@item.EndDate.ToString("yyyy-MM-dd")</td>
                <td>@item.Reason</td>
                <td>@item.Status</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>